$color-cobalt : #1C203D;
$color-white : #ffffff;

.main-app{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100%;
    background-color: $color-cobalt;
    color: $color-white;
    z-index: 1;
    
    app-login{
        height: 52%;
        width: 100%;    
        align-self: center;
    }

    :before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: url(../assets/always-grey.png);
        left: 0;
        background-blend-mode: screen;
        z-index: -11;
    }
}
.main-app.toggled:before{
    background: none;
}